
.env


bin/
obj/
publish/


*.user
*.vspscc
*.vssscc
*.suo
*.userosscache
*.sln.docstates


.vscode/


*.tmp
*.log
*.bak
*.DS_Store
Thumbs.db


*.nupkg
.nuget/


**/staticwebassets.build.json
**/staticwebassets.build.json.cache
**/staticwebassets.publish.json
**/staticwebassets.publish.endpoints.json